
#category
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#category div img
{
    height: 200px;
    width: 200px;
    margin-left: 0rem;
    margin-top: 2rem;
    display: flex;
    margin-bottom: 1rem;
}

h1
{
    padding-top: 2rem;
}

.image a
{
    text-decoration: none;
    background-color: #0d4b5c;
    color: white;
    padding: 2px;
    border-radius: 4px;
}