
#navbar 
{
    display: flex;
    justify-content: space-evenly;
    background-color:#2b8299;
    width: 100%;
    margin: 0;
    margin-top: -1.4rem;
    margin-bottom: 20px;
    position: fixed;
    z-index: 10;
}

img 
{
    height: 30px;
    margin-top: 7px;
    margin-left: -11rem;
    /* border: 1px solid red; */
}

#fields
{
    display: flex;
    justify-content: space-between;
    margin-right: 20rem;
    width: 200px;
    /* border: 1px solid red; */
}

#fields h3
{
    margin-right: 20px;
    font-family: arial;
    font-weight: light;
    font-size: 1rem;
    color: white;
    /* border: 1px solid red; */
}

#fields h3:hover
{
    background-color: #0c566b;
}

#query
{
    width: 180px;
    margin-top: 0.5rem;
    margin-right: -11rem;
    padding: 8px;
}